*{margin:0;padding:0;}
body{
    background: url(images/beijin.png) #1b2838;
    background-repeat: no-repeat;
    width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.banxing{
	width: 940px;
	margin: 0 auto;
}
.top{
	width: 100%;
	height: 104px;
	background-color: #171a21;
}
.top_width{
    width: 940px;
    height: 104px;
    position: relative;
}
.top_logo{
    width: 176px;
    height: 44px;
    padding-top: 30px;
    float: left;
}
.top_nav{
    float: left;
    text-decoration: none;
    color: #b8b6b4;
    font-size: 16px;
    margin-right: 20px;
    display: block;
    position: relative;
    padding-top: 42px;
    padding-left: 20px;
}
.top_nav ul li{
   
    list-style: none;
    color:#b8b6b4;
    padding-right: 7px;
    padding-left: 7px;
    line-height: 16px;
    float: left;
}
.top_nav ul li a{
    color:#b8b6b4;
     text-decoration: none;
     color: #b8b6b4;
     cursor: pointer;
}
.top_wei{
    width: 190px;
    height: 21px;
    position: absolute;
    right: 0px;
    top: 6px;
    font-size: 12px;
    color:#e5e4dc; 
    line-height: 21px;
}
.top_wei .wei_niu .wei_tu{
    background-image: url(images/btn_ji.png);
    width: 24px;
    height: 21px;
    float: left;
}
.top_wei a{
    text-decoration: none;
    color:#e5e4dc;
}
.top_wei .wei_niu{
    float: left;
    line-height: 21px;
    margin-right: 6px;
}
.top_wei .wei_niu a{
    width: 72px;
    height: 21px;
    display: inline-block;
    background-color:#627c08; 
    color:#e5e4dc;
}
.top_wei a:hover{
    color: #fff;
}
.top_nav a:hover{
    color: #fff;
}
.top_nav .nav_she{
    width: 73px;
    height: 155px;
    background-color: #171a21;
    display: inline-block;
    position: absolute;
    left: 71px;
    top: 60px;
    display: none;
}
.top_nav .nav_shang{
    width: 73px;
    height: 190px;
    background-color:#171a21;
    display: inline-block;
    position: absolute;
    left: 27px;
    top: 60px; 
    display: none;
}
.top_nav .nav_she a{
    color:#e5e4dc;
    font-size: 12px;
    display: inline-block;
    width: 50px;
    height: 20px;
    padding-left: 11px;
    padding-top: 7px;
}
.top_nav .nav_shang a{
    color: #e5e4dc;
    font-size: 12px;
    display: inline-block;
    width: 50px;
    height: 20px;
    padding-left: 11px;
    line-height: 2px;
}
.top_nav .nav_she .item{
    margin-top: 16px;
}
.top_nav{
    position: relative;
}
.top_nav .she:hover .nav_she{
    display: block;
    z-index: 10;
}
.top_nav .shang:hover .nav_shang{
    display: block;
    z-index: 10;
}
.nav_she a:hover{
    color: #fff;
}
.nav_shang a:hover{
    color: #fff;
}
.zhong .banxing{
    position: relative;
}
.zhong_dh{
    width:940px;
    height: 35px;
    background-color: #377097;
    position: relative;
    right: 0px;
    top: 30px;
    z-index: 9;
}
.zhong_dh .dh_nav>li{
    float: left;
    list-style: none;
}
.zhong_dh .dh_nav>li>a{
    font-size: 13px;
    color: #d9dadd;
    text-decoration: none; 
    display: inline-block;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #777;
    line-height: 35px;
}
.zhong_dh .dh_nav>li:hover{
    background-color: #d9dadd;
}  
.zhong_dh .dh_nav>li:hover >a{
     color: #000;
} 
.dh_nav_dian{
    width: 116px;
    height: 0px;
    background-color: #d9dadd;
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 35px;
    transition:all .3s;
    box-shadow:0 0 12px #333 ;
    overflow: hidden;
}
.dh_nav_dian .nav_dian li{
    padding-top: 5px;
}
.dh_nav_dian .nav_dian li a{
    color: #000;
    font-size: 13px;
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 5px;
}
.dh_nav li{
    position: relative;
}
.dh_nav li:hover .dh_nav_dian{
    opacity: 1;
    height: 148px;
}
.nav_dian li:hover a{
    background-color: #171a21;
    color: #fff;
}
.dh_nav .youxi{
    width: 143px;
    height: 0px;
    background-color: #d9dadd;
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 35px;
    transition:all .3s;
    box-shadow:0 0 12px #333 ; 
    overflow: hidden;
}
.dh_nav .youxi li{
    padding-top: 5px;
}
.youxi ul li a{
    color: #000;
    font-size: 13px;
    display: inline-block;
    width: 115px;
    height: 30px;
    line-height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 5px;
}
.youxi ul span{
    font-size: 12px;
    color: #4f94bc;
    margin-left: 11px;
}
.dh_nav li:hover .youxi{
    opacity: 1;
    height: 680px;
}
.youxi li:hover a{
    background-color: #171a21;
    color: #fff;
}
.ruanjian{
    width: 130px;
    height: 0px;
    background-color: #d9dadd;
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 35px;
    transition:all .3s;
    box-shadow:0 0 12px #333 ; 
    overflow: hidden;
}
.ruanjian li{
    padding-top: 5px;
}
.ruanjian ul li a{
    color: #000;
    font-size: 13px;
    display: inline-block;
    width: 104px;
    height: 30px;
    line-height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 5px;
}
.dh_nav li:hover .ruanjian{
    opacity: 1;
    height: 360px;
}
.ruanjian li:hover a{
    background-color: #171a21;
    color: #fff;
}
.yingjian{
    width: 130px;
    height: 0px;
    background-color: #d9dadd;
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 35px;
    transition:all .3s;
    box-shadow:0 0 12px #333 ; 
    overflow: hidden; 
}
.yingjian li{
    padding-top: 5px;
}
.yingjian ul li a{
    color: #000;
    font-size: 13px;
    display: inline-block;
    width: 104px;
    height: 30px;
    line-height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 5px;
}
.dh_nav li:hover .yingjian{
    opacity: 1;
    height: 150px;
}
.yingjian li:hover a{
    background-color: #171a21;
    color: #fff;
}
.shiping{
    width: 130px;
    height: 0px;
    background-color: #d9dadd;
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 35px;
    transition:all .3s;
    box-shadow:0 0 12px #333 ; 
    overflow: hidden;  
}
.shiping li{
    padding-top: 5px;
}
.shiping ul li a{
    color: #000;
    font-size: 13px;
    display: inline-block;
    width: 104px;
    height: 30px;
    line-height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 5px;
}
.shiping ul span{
    font-size: 12px;
    color: #4f94bc;
    margin-left: 11px;
}
.dh_nav li:hover .shiping{
    opacity: 1;
    height: 505px;
}
.shiping li:hover a{
    background-color: #171a21;
    color: #fff;
}
.zhong_dh .ipt{
    position: relative;
    float: right;
    margin-right: 5px;
}
.zhong_dh .ipt input{
    width: 228px;
    height: 27px;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    background-size:cover;
    margin-top: 3px;
    border:1px solid #444;
    text-indent: 10px;
    color: #0e1c25;
}
.zhong_dh .ipt img{
    display: block;
    position: absolute;
    top:5px;
    right: 2px;
    width: 26px;
    height: 25px;
    z-index: 10;
    opacity: .5;
}
.zhong_dh .ipt input::-webkit-input-placeholder{
    font-size: 14px;
    font-style: italic;
    color: #333;
}
.zhong_dh .ipt input:hover{
    border:1px solid #348fec;
}
.zhong_dh .ipt img:hover{
    opacity: 1;
}
.zhong_zcl{
    float: left;
    width: 210px;
    position: absolute;
    top: 0;
    left: -240px;

}
.zhong_zcl  span{
    font-size: 12px;
    color: #c6d4df;
}
.zhong_zcl ul li a{
    color: #66c0f4;
    font-size: 13px;
}
.zhong_zcl ul span{
    margin-top: 10px;
    display: inline-block;
}
.zhong_leirong i{
    display: inline-block;
    position: relative;
    top: 4px;
    width: 16px;
    height: 16px;
    background-image: url(images/xuebi.png);
    background-repeat: no-repeat;
    margin-right: 10px;
}
.zhong_leirong ul li a:hover{
    color: #fff;
}
.zhong_zcl_tu img{
    width: 210px;
    padding-top: 26px;
}



/*............轮播图..............*/





.lunbotu{
    height: 410px;
    width: 940px;   
    margin-top: 50px;
}
.lunbotu .dahezi{
    width: 940px;
    height: 353px;
    position: relative;
}
.lunbotu .dahezi.show{
    display: block;
}
.dahezi .hezi{
    position: absolute;
    top: 0;
    left:0;
    width: 940px;
    height: 353px;
}
.dahezi .hezi .zuotu{
    float: left;
    box-shadow: 2px 0 8px 1px #000;
}
.lunbotu h2{
    font-size: 17px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: normal;
}
.chakan a{
    display: block;
}
/*.nba .zuotu{
    background: url(images/nba_e.jpg)no-repeat;
}
.longzhu .zuotu{
    background: url(images/longzhu_e.jpg)no-repeat;
}
.juedi .zuotu{
    background: url(images/juedi_e.jpg)no-repeat;
}*/
.hezi .zuotu a{
    display: block;
    height: 353px;
    width: 616px;
}
.hezi .zuotu img{
    position: absolute;
    top: 0;
    left: 0;
    width: 616px;
    height: 353px;
    display: none;
}
.hezi .youtu{
    float: right;
    width: 324px;
    height: 353px;
    background-color: #f66;
    background: url(images/lunbj.jpg)no-repeat;
    box-shadow: 2px 0 8px 1px #000;
}
.youtu .gameName{
    font-size: 23px;
    color: #fff;
    line-height: 47px;
    margin-left: 5px;
    font-weight: normal;
    max-height: 52px;
    padding: 10px 6px;
    height: 52px;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.hezi .youtu .xiaotu img{
    width: 147px;
    height: 69px;
    opacity: .7;
}
.hezi{
    display: none;
}
.hezi.show{
    display: block;
}
.xiaotu{
    width: 314px;
    height: 158px;
}
.xiaotu a{
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}
.hezi .youtu .xiaotu img:hover{
    opacity: 1;
}
.youtu .mowei a{
    display: block;
    margin-left: 10px;
    color: #fff;
    margin-bottom: 10px;
}
.zhekou{
    color: #a4d007;
    background: #4c6b22;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    line-height: 15px;
    padding: 0 3px;
    float: left;
}
.many{
    color: #7193a6;
    display: inline-block;
    font-size: 11px;
    text-decoration: line-through;
    line-height: 15px;
    cursor: pointer;
    background: #000000;
    padding: 0 5px;
    float: left;
}
.suxiaojia{
    background: #000000;
    font-size: 11px;
    color: #acdbf5;
    display: inline-block;
    float: left;
    line-height: 15px;
    cursor: pointer;
    padding: 0 5px;
    padding-left: 0px;
}
.youtu .mowei .text{
    font-size: 21px;
    font-weight: normal;    
}
.youtu .mowei .reXiao{
    font-size: 11px;
    background-color: rgba( 255, 255, 255, 0.2 );
    cursor: pointer;
    display: inline-block;
    padding: 1px 3px 1px 3px;
    border-radius: 2px;
}
.youtu .mowei .jiage{
    font-size: 11px;
    margin-top: 30px;
}
.win,.mac,.linux{
    width: 20px;
    height: 20px;
    display: none;
}
.youtu .mowei .tubiao{
    position: absolute;
    right: 7px;
    bottom: -7px;
}
.win{
    background: url(images/icon.png)no-repeat;
}
.mac{
    background: url(images/icon_pmac.png) no-repeat;
}
.linux{
    background: url(images/linux.png) no-repeat;
}
.arrowsLeft,.arrowsRight{
    position: absolute;
    top: 50%;
    width: 45px;
    height: 108px;
    margin-top: -54px;
    cursor:pointer;
}
.arrowsLeft{
    left: -45px;
    background: linear-gradient( to right, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
}
.arrowsLeft:hover{
    background: linear-gradient( to right, rgba( 171, 218, 244, 0.3) 5%,rgba( 171, 218, 244, 0) 95%)
}
.arrowsRight{
    right: -45px;
    background: linear-gradient( to right, rgba( 0, 0, 0, 0) 5%,rgba( 0, 0, 0, 0.3) 95%);
}
.arrowsRight:hover{
    background: linear-gradient( to right, rgba( 171, 218, 244, 0) 5%,rgba( 171, 218, 244, 0.3) 95%);`
}
.arrowsLeft div,.arrowsRight div{
    width: 23px;
    height: 36px;
    margin: 36px auto; 
    background: url(images/arrows.png) no-repeat;
}
.arrowsLeft div{
    background-position: -23px 0;
}
.lunbotu .dian{
    height: 30px;
    text-align: center;
}
.dian span{
    display: inline-block;
    margin: 12px 2px;
    width: 15px;
    height: 9px;
    border-radius: 2px;
    transition: background-color 0.2s;
    background-color: hsla(202,60%,100%,0.2);
    cursor: pointer;
}
.dian span.yance{
    background-color: hsla(202,60%,100%,0.4);
}
.tanchucen{
    display: none;
    position: absolute;
    top: 0;
    left: -282px;
    z-index: 1;
    width: 250px;
    background-color: #e1e8ee;
    padding: 10px 15px;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    font-size: 12px;
    color:#555;
}
.tanchucen .text{
    max-height: 50px;
}
.text .ming{
    font-size: 16px;
    color: #555;
}
.tanchucen .img{
    position: relative;
    width: 250px;
    height: 140px;
    margin:10px 0;
}
.tanchucen .img img{
    position: absolute;
    top: 0;
    left:0;
    /*display: block;*/
    width: 100%;
    height: 140px;
    display: none;
}
.tanchucen .pingce{
    height: 35px;
    background-color: #777;
    text-indent: 5px;
    color: #ddd;
    margin-bottom: 10px;
    border-radius: 2px;
}
.pinse{
    color: #66c0f4;
    padding-right: 5px;
}
.biaoqian{
    padding-top: 5px;
    overflow: hidden;
    width: 250px;
    height: 24px;
}
.biaoqian span{
    display: inline-block;
    margin-top: 2px;
    padding: 3px 5px;
    background-color: #aaa;
    border-radius: 3px;
    color: #fff;
    margin-right: 2px;
}
.erlun{
    width: 940px;
    height: 483px;
    margin-top: 30px;
}
.erlun .erlun_lei{
    width: 940px;
    height: 390px;
    position: relative;
}
.erlun .erlun_lei1{
    position: absolute;
    top: 0;
    left: 0;
}
.erlun .erlun_lei2{
    position: absolute;
    top: 0;
    left: 0;
}
.erlun>p{
    font-size: 17px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: normal;
}
.erlun>p a{
    float: right;
    font-size: 12px;
    border: 1px solid #777;
    border-radius: 2px;
    padding: 2px 10px 2px 10px;
    cursor: pointer;
}
.erlun p a:hover{
    border: 1px solid #fff;
}
.erlun_lei .rehezi{
    width: 306px;   
    float: left;
    height: 390px;
    margin-right: 11px;
}
.erlun_one_xia{
    width: 306px;
    height:91px;
    background: url(images/erlunbj.jpg)no-repeat;
    background-position-y:-114px; 
    margin-top: 0px;
    padding-top: 0px; 
}
.erlun_one_xia h2{
    color: #fff;
    margin: 0 0 5px;
    font-size: 17px;
    font-weight: normal;
    padding-top: 2px;
    margin-left: 10px;
}
.erlun_one_xia p{
    font-weight: 300;
    color: #acdbf5;
    font-size: 12px;
    margin-left: 10px;
}
.erlun_one_xia .jiqian{
    width: 274px;
    height: 36px;
    margin-left: 10px;
    margin-top: 5px;
}
.jiqian .baifen{
    line-height: 36px;
    padding: 0 5px;
    font-size: 26px;
    color: #a4d007;
    background: #4c6b22;
    display: inline-block;
    float: left;
}
.jiqian .jiangjia{
    width: 27px;
    height: 25px;
    padding: 4px 4px 7px 4px;
    background-color: rgba(0,0,0,0.6);
    display: inline-block;
    float: left;
}
.jiangjia .yuanjia{
    text-decoration: line-through;
    color: #7193a6;
    font-size: 11px;
    line-height: 13px;
}
.jiangjia .xianjia{
    color: #acdbf5;
    font-size: 13px;
    line-height: 13px;
}
.erlun_three>a img{
    width: 306px;
    height: 143px;
}
.rehezi .three_bj1{
    background: url(images/erlunbj.jpg)no-repeat;
    background-position-y:-18px; 
    height: 186px;
    width: 306px;
    margin-bottom: 17px;
}
.rehezi .three_bj2{
    background: url(images/erlunbj.jpg)no-repeat;
    background-position-y:-18px; 
    height: 186px;
    width: 306px;
}
.erlun_three .jiqian{
    float: right;
    margin-right: 6px;
}
.erlun_lei .erlun_lei1 .erlun_three{
    margin-right: 0px;
}
.erlun_lei .erlun_lei2 .erlun_three{
    margin-right: 0px;
}
.rehezi img{
    height: 295px;
    width: 306px;
}
.dabiaoqian{
        margin: 0px 0;
}
.dabiaoqian h2{
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 10px;
    font-size: 17px;
    letter-spacing: 2px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    padding-top: 2px;
}
.db_qian div{
    display: inline-block;
    margin-right: 7px;
    text-align: center;
}
.db_qian a{
    color: #66c0f4;
    display: block;
    width: 226px;
    height: 58px;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    background-image: url(images/erlunbj.jpg);
    background-position-y:-105px; 
    border-radius: 3px;
    box-shadow: 0 0 4px #000;
    line-height: 58px;
}
.db_qian a:hover{
    background-position-y:-142px;
    color: #fff; 
}
.db_qian .yonhu{
    margin-right: 0;
}

.blli{
    margin-top: 40px;
    min-height: 416px;
    margin-bottom: 30px;
}
.blli b{
    font-weight: bold;
}
.blli h2{
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 10px;
    font-size: 17px;
    letter-spacing: 2px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
}
.blli h2 .blright{
    float: right;
    text-transform: none;
    letter-spacing: normal;
    display: inline-block;
    position: relative;
    top: -3px;
}
.blli h2 .blright a{
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}
.blli h2 .blright a span{
    display: block;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 2px;
    padding: 2px 10px 2px 10px;
    font-size: 12px;
}
.blli h2 .blright a span:hover{
   border: 1px solid rgba(255,255,255,0.8); 
}

.lun3_leirong .auto{
    height: auto;
}
.lun_three{
    position: relative;
     height: 410px;
}
.lun3lr{
    box-shadow: 0 0 5px #000;
    background: -webkit-linear-gradient( 153deg, rgba( 255, 255, 255, 0.2) 5%,rgba( 255, 255, 255, 0.1) 95%);
    padding: 16px 13px;
    flex-direction:column;
    font-weight: normal;
    position: relative;
    min-height: 350px;
    display: none;
    position: absolute;
    top: 0;
    left: 0px;
}
.lun3_leirong .show{
    display: block;
}
.lun3lr_s{
    display: flex;
    margin-bottom: 20px;
}
.lun3lr_s img{
    border: 1px solid #fff;
}
.follow{
    display: flex;
    flex-direction:column;
    margin-left: 15px;
    font-size: 12px;
    color: #c6d4df;
}
.name{
    font-size: 19px;
    font-weight: 300;
    color: #c7d5e0;
}
.name span{color: #eff3f6;}
.actions{
    display: flex;
    padding: 2px;
    margin-top: 2px;
    background-color: rgba(0,0,0,.2);
    width: fit-content;
}
.actions a{
    border-radius: 2px;
    padding: 4px 12px;
    display: inline-block;
    color: #D2E885;
    background: linear-gradient( to bottom, #a4d007 5%, #536904 95%);
    height: 24px;
    font-size: 15px;
}
.actions a:hover{background: -webkit-linear-gradient( top, #a1bf07 5%, #80a006 95%);}
.followers{
    margin-left: 5px;
    padding-right: 20px;
}
.followers span{
    font-size: 15px;
    display: block;
}
.lun3lr_x{
    display: flex;
}
.lun3lr_x>div{
    display: inline-block;
    width: 220px;
    color: #c6d4df;
    font-size: 12px;
}
.blliright{
    flex-grow: 1;
    text-align: right;
    position: absolute;
    top: 12px;
    right: 25px;
}
.blliright a{
    color: #fff;
    text-decoration: underline;
    font-size: 12px;
}
.store_capsule{
    position: relative;
    width: 100%;
    box-shadow: 0 0 5px #000;
    vertical-align:top;
    display: inline-block;
    height: 104px;
}
.store_capsule img{
    width: 100%;
}
.discount_block_inline{
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    padding: 5px;
    line-height: 17px;
}
.discount_block_inline span{
    background-color: rgba(20,31,44,.7);
    color: #fff;
    padding: 2px 5px;
}
.detail{
    margin-right: 9px;
}
.detail p{
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 300;
    line-height: 23px;
    color: #66c0f4;
}
.detail>div{
    padding-right: 12px;
    line-height: 17px;
    font-weight: 300;
}
.blli .dian{
    height: 37px;
    text-align: center;
}
.tuijian{
    background-color: #000;
    padding-top: 25px;
}
.tuijian_shang{
    width: 940px;
    font-size: 24px;
    color: #67c1f5;
    text-align: center;
    background-image: url(images/下载.png);
    background-repeat:repeat-x;
}
.tuijian_shang span{
    background-color: #000;
    padding: 0 10px;
}
.sign_in_ctn{
    height: 108px;
    padding: 16px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 15px;
    color: #8f98a0;
}
.signin_buttons_ctn{
    margin-top: 15px;
}
.btn_denlu{
    display: inline-block;
    border-radius: 4px;
    border: 2px solid #172030;
    padding: 0 16px;
    line-height: 32px;
    color: #D2E885;
    background: linear-gradient( to bottom, #a4d007 5%, #536904 95%);
}
.btn_denlu:hover{
    background: #a4d007;
    color: #fff;
}
.zhuce{
    color: #fff;
}
.zhuce:hover{
    color: #66c0f4;
}

.footer{
    padding: 16px 0 50px 0;
    background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.8) 100%);
}
.footer_content{
    width: 940px;
    margin: 0 auto;
    padding-top: 16px;
    overflow: hidden;
}
.rule{height: 8px;}
.footer_logo_steam{
    float: right;
    padding-top: 2px; 
}
.footer_logo{
    float: left;
    padding-top: 2px;
}
.footer_text{
    float: left;
    margin-left: 12px;
    color: #8F98A0;
    line-height: 16px;
    font-size: 12px;
}
.footer_text a{
    color: #C6D4DF;
}
.footer_text a:hover{
    color: #fff;
}
.valve_links{
    margin-top: 15px;
    float: left;
    font-size: 13px;
    color: #8F98A0;
}
.valve_links a{
    color: #C6D4DF;
}
.valve_links a:hover{
    color: #fff;
}
.valve_links img{
    vertical-align: bottom;
}
.erlun .dian{
    height: 30px;
    text-align: center;
}
.clear{
    clear: both;
}
.tab_List .left{
    float:left;
}
.tab_List a{
    color:#c7d5e0;
}
.tab_List .tab_matter{
    float:left;
    margin-left:10px;
}
.tab_xuanxiangka{
    width:100%;
    background: linear-gradient( to bottom, rgba(42,71,94,1) 5%, rgba(42,71,94,0.0) 70%);
    height: 818px;
    margin-top: 80px;
    overflow: hidden;
}
.tab_xuanxiangka>div{
   /* margin-top: -31px;*/
}
.left_top{
    height: 31px;
    margin-bottom: 8px;
}
.left_top>a:hover{
    color: #fff;
}
.tab_List{
    float:left;
    width:618px;
}
.tab_matter li.show{
    display: block;
}
.tab_matter li{
    display: none;
}
.right_matter{
    float:right;
    width:278px;
    height:705px;
    padding:15px;
    background-color:#95bbd4;
}
.tab_xuanxiangka .show{
    display: block;
}
.right_matter img{
    width: 274px;
    height: 150px;
}
.tab_List{
    display: none;
}
.right_matter .tab_matter{
    display: none;
}
.right_matter ul.show{
    display: block;
}
.tab_List li{
    background:rgba( 0, 0, 0, 0.5);
    height: 69px;
    margin-bottom: 5px;
}
.tab_List li.show{
    background-color:#95bbd4;
    margin-right:-14px;
}
.tab_List li.show a{
    color:#333;
}
.tab_List .tab_matter{
    width:400px;
}
.tab_List .price{
    float:right;
    font-size:12px;
}
.tab_List h2{
    font-size: 16px;
    font-weight:normal;
    margin-top:5px;
}
.win{
    background-image: url(images/icon.png);
}
.mac{
    background-image: url(images/icon_pmac.png);
}
.linux{
    background-image: url(images/linux.png);
}
.tab_matter>div{
    color: #384959;
    line-height: 12px;
    font-size: 12px;
}
.tab_review_summary{
    padding: 5px 7px;
    margin-bottom: 5px;
    width: 258px;
    border-radius: 2px;
    background-color: rgba( 38, 54, 69, 0.6);
    font-size: 12px;
    color: #c6d4df;
}
.tab_more{
    text-align: right;
    background: rgba( 0, 0, 0, 0.6 );
    padding: 4px;
    color: #c6d4df;
    font-size: 12px;
}
.btn_small_tall{
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
}
.btn_small_tall span{
    padding: 0 15px;
    font-size: 12px;
    line-height: 24px;
    display: block;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 2px;
    margin-left: 10px;
}
.btn_small_tall span:hover{
   border: 1px solid rgba(255,255,255,0.8); 
}
.evaluate{
    color: #66c0f4;
}
.tags{
    height: 22px;
    margin-bottom: 5px;
}
.tags a{
    background-color: rgba( 38, 54, 69, 0.6);
    padding: 2px 6px;
    line-height: 19px;
    margin-right: 2px;
    border-radius: 2px;
    margin-bottom: 3px;
    font-size: 11px;
    color: #fff;
}
.tags a:hover{
    color: #66c0f4;
}


.right_matter h2{
    color: #263645;
    font-weight:normal;
    font-size:21px;
    font-family: "Motiva Sans", Sans-serif;
    margin-bottom:5px;
    width:100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}
.left_top .tab_name{
    background-color: #2a475e;
    font-size: 14px;
    color: #ffffff;
    line-height: 29px;
    text-shadow: -1px -1px rgba( 0, 0, 0, 0.25 );
    padding: 0px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.left_top a{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 13px;
    color: #4f94bc;
    line-height: 24px;
    padding: 0 10px;
    cursor: pointer;
    vertical-align: top;
}
.home_ctn{
    overflow:hidden;
    margin: 50px 0;
}
.home_ctn .dian{
    text-align: center;
}
.ctn_matter{
    position: relative;
}
.ctn_matter h2{
    color: #fff;
    margin: 0 0 10px;
    font-size: 17px;
    font-weight: normal;
    padding-top: 2px;
}
.matter_right{
    float: right;
    text-transform: none;
    letter-spacing: normal;
    display: inline-block;
    position: relative;
    top: -3px;
}
.matter_right a{
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}
.matter_right a span{
    border-radius: 2px;
    display: block;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 2px;
    padding: 0 15px;
    font-size: 12px;
    line-height: 24px;
}
.matter_right a span:hover{
    border: 1px solid rgba(255,255,255,0.8);
}
.tu_matter{
    height: 134px;
    position: relative;
}
.tu_matter>div{
    display: none;
}
.tu_matter>.show{
    display: block;
}
.tu_matter>.show a{
    margin-right: 3px;
    box-shadow: 0 0 5px #000;
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 229px;
    background: -webkit-linear-gradient( -45deg, rgba(64,121,153,1) 5%,rgba(42,62,89,1) 95%);
    color: #fff;
    font-size: 12px;
    height: 134px;
}
.tu_matter>.show a img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.store_jq{
    margin: 0;
    text-align: right;
    padding: 5px;
    line-height: 17px;
    min-height: 17px;
    font-size: 12px;
    position: relative;
}
.store_jq .jq{
    display: inline-block;
    padding: 0 3px;
    background-color: rgba(20,31,44,0.4);
    border-radius: 1px;
}
.jq_hz{
    padding: 0 6px;
    font-size: 11px;
    color: #acdbf5;
    display: inline;
}
.capsule{
    height: 106px;
}
.tu_matter>.show a.yuju{
    margin-right: 0px;
}
.home_ctn .arrowsLeft,.arrowsRight{
    position: absolute;
    top: 50%;
    width: 45px;
    height: 108px;
    margin-top: -36px;
    cursor:pointer;
}
.home_ctn .arrowsLeft{
    left: -45px;
    background: linear-gradient( to right, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
}
.home_ctn .arrowsLeft:hover{
    background: linear-gradient( to right, rgba( 171, 218, 244, 0.3) 5%,rgba( 171, 218, 244, 0) 95%)
}
.home_ctn .arrowsRight{
    right: -45px;
    background: linear-gradient( to right, rgba( 0, 0, 0, 0) 5%,rgba( 0, 0, 0, 0.3) 95%);
}
.home_ctn .arrowsRight:hover{
    background: linear-gradient( to right, rgba( 171, 218, 244, 0) 5%,rgba( 171, 218, 244, 0.3) 95%);`
}
.home_ctn .arrowsLeft div,.arrowsRight div{
    width: 23px;
    height: 36px;
    margin: 36px auto; 
    background: url(images/arrows.png) no-repeat;
}
.home_ctn .arrowsLeft div{
    background-position: -23px 0;
}
.markink{
    margin-bottom: 40px;
    overflow: hidden;
}
.markink h2{
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 10px;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: normal;
}
.markink_conter .home_mark{
    display: block;
    float: left;
    color: #acdbf5;
    font-size: 11px;
    vertical-align: top;
    background: linear-gradient( 135deg, rgba(37,49,63,1) 5%,rgba(54,97,125,1) 95%);
}
.markink_conter .small{
    margin: 0 0 10px 10px;
}
.markink_conter .home_mark img{
     width: 368px;
    height: 398px;
}
.markink_conter .small img{
     width: 173px;
    height: 182px;
}
.danji{
    line-height: 15px;
    height: 16px;
    padding: 4px;
    text-align: right;
}

